extends layout

append head
  style
    :stylus
      @require '../index.styl'

      [class*=colors--]
        padding 10px

      .colors--aliceblue
        background colors--aliceblue
      .colors--antiquewhite
        background colors--antiquewhite
      .colors--aqua
        background colors--aqua
      .colors--aquamarine
        background colors--aquamarine
      .colors--azure
        background colors--azure
      .colors--beige
        background colors--beige
      .colors--bisque
        background colors--bisque
      .colors--black
        background colors--black
      .colors--blanchedalmond
        background colors--blanchedalmond
      .colors--blue
        background colors--blue
      .colors--blueviolet
        background colors--blueviolet
      .colors--brown
        background colors--brown
      .colors--burlywood
        background colors--burlywood
      .colors--cadetblue
        background colors--cadetblue
      .colors--chartreuse
        background colors--chartreuse
      .colors--chocolate
        background colors--chocolate
      .colors--coral
        background colors--coral
      .colors--cornflowerblue
        background colors--cornflowerblue
      .colors--cornsilk
        background colors--cornsilk
      .colors--crimson
        background colors--crimson
      .colors--cyan
        background colors--cyan
      .colors--darkblue
        background colors--darkblue
      .colors--darkcyan
        background colors--darkcyan
      .colors--darkgoldenrod
        background colors--darkgoldenrod
      .colors--darkgray
        background colors--darkgray
      .colors--darkgrey
        background colors--darkgrey
      .colors--darkgreen
        background colors--darkgreen
      .colors--darkkhaki
        background colors--darkkhaki
      .colors--darkmagenta
        background colors--darkmagenta
      .colors--darkolivegreen
        background colors--darkolivegreen
      .colors--darkorange
        background colors--darkorange
      .colors--darkorchid
        background colors--darkorchid
      .colors--darkred
        background colors--darkred
      .colors--darksalmon
        background colors--darksalmon
      .colors--darkseagreen
        background colors--darkseagreen
      .colors--darkslateblue
        background colors--darkslateblue
      .colors--darkslategray
        background colors--darkslategray
      .colors--darkslategrey
        background colors--darkslategrey
      .colors--darkturquoise
        background colors--darkturquoise
      .colors--darkviolet
        background colors--darkviolet
      .colors--deeppink
        background colors--deeppink
      .colors--deepskyblue
        background colors--deepskyblue
      .colors--dimgray
        background colors--dimgray
      .colors--dimgrey
        background colors--dimgrey
      .colors--dodgerblue
        background colors--dodgerblue
      .colors--firebrick
        background colors--firebrick
      .colors--floralwhite
        background colors--floralwhite
      .colors--forestgreen
        background colors--forestgreen
      .colors--fuchsia
        background colors--fuchsia
      .colors--gainsboro
        background colors--gainsboro
      .colors--ghostwhite
        background colors--ghostwhite
      .colors--gold
        background colors--gold
      .colors--goldenrod
        background colors--goldenrod
      .colors--gray
        background colors--gray
      .colors--grey
        background colors--grey
      .colors--green
        background colors--green
      .colors--greenyellow
        background colors--greenyellow
      .colors--honeydew
        background colors--honeydew
      .colors--hotpink
        background colors--hotpink
      .colors--indianred
        background colors--indianred
      .colors--indigo
        background colors--indigo
      .colors--ivory
        background colors--ivory
      .colors--khaki
        background colors--khaki
      .colors--lavender
        background colors--lavender
      .colors--lavenderblush
        background colors--lavenderblush
      .colors--lawngreen
        background colors--lawngreen
      .colors--lemonchiffon
        background colors--lemonchiffon
      .colors--lightblue
        background colors--lightblue
      .colors--lightcoral
        background colors--lightcoral
      .colors--lightcyan
        background colors--lightcyan
      .colors--lightgoldenrodyellow
        background colors--lightgoldenrodyellow
      .colors--lightgray
        background colors--lightgray
      .colors--lightgrey
        background colors--lightgrey
      .colors--lightgreen
        background colors--lightgreen
      .colors--lightpink
        background colors--lightpink
      .colors--lightsalmon
        background colors--lightsalmon
      .colors--lightseagreen
        background colors--lightseagreen
      .colors--lightskyblue
        background colors--lightskyblue
      .colors--lightslategray
        background colors--lightslategray
      .colors--lightslategrey
        background colors--lightslategrey
      .colors--lightsteelblue
        background colors--lightsteelblue
      .colors--lightyellow
        background colors--lightyellow
      .colors--lime
        background colors--lime
      .colors--limegreen
        background colors--limegreen
      .colors--linen
        background colors--linen
      .colors--magenta
        background colors--magenta
      .colors--maroon
        background colors--maroon
      .colors--mediumaquamarine
        background colors--mediumaquamarine
      .colors--mediumblue
        background colors--mediumblue
      .colors--mediumorchid
        background colors--mediumorchid
      .colors--mediumpurple
        background colors--mediumpurple
      .colors--mediumseagreen
        background colors--mediumseagreen
      .colors--mediumslateblue
        background colors--mediumslateblue
      .colors--mediumspringgreen
        background colors--mediumspringgreen
      .colors--mediumturquoise
        background colors--mediumturquoise
      .colors--mediumvioletred
        background colors--mediumvioletred
      .colors--midnightblue
        background colors--midnightblue
      .colors--mintcream
        background colors--mintcream
      .colors--mistyrose
        background colors--mistyrose
      .colors--moccasin
        background colors--moccasin
      .colors--navajowhite
        background colors--navajowhite
      .colors--navy
        background colors--navy
      .colors--oldlace
        background colors--oldlace
      .colors--olive
        background colors--olive
      .colors--olivedrab
        background colors--olivedrab
      .colors--orange
        background colors--orange
      .colors--orangered
        background colors--orangered
      .colors--orchid
        background colors--orchid
      .colors--palegoldenrod
        background colors--palegoldenrod
      .colors--palegreen
        background colors--palegreen
      .colors--paleturquoise
        background colors--paleturquoise
      .colors--palevioletred
        background colors--palevioletred
      .colors--papayawhip
        background colors--papayawhip
      .colors--peachpuff
        background colors--peachpuff
      .colors--peru
        background colors--peru
      .colors--pink
        background colors--pink
      .colors--plum
        background colors--plum
      .colors--powderblue
        background colors--powderblue
      .colors--purple
        background colors--purple
      .colors--red
        background colors--red
      .colors--rosybrown
        background colors--rosybrown
      .colors--royalblue
        background colors--royalblue
      .colors--saddlebrown
        background colors--saddlebrown
      .colors--salmon
        background colors--salmon
      .colors--sandybrown
        background colors--sandybrown
      .colors--seagreen
        background colors--seagreen
      .colors--seashell
        background colors--seashell
      .colors--sienna
        background colors--sienna
      .colors--silver
        background colors--silver
      .colors--skyblue
        background colors--skyblue
      .colors--slateblue
        background colors--slateblue
      .colors--slategray
        background colors--slategray
      .colors--slategrey
        background colors--slategrey
      .colors--snow
        background colors--snow
      .colors--springgreen
        background colors--springgreen
      .colors--steelblue
        background colors--steelblue
      .colors--tan
        background colors--tan
      .colors--teal
        background colors--teal
      .colors--thistle
        background colors--thistle
      .colors--tomato
        background colors--tomato
      .colors--turquoise
        background colors--turquoise
      .colors--violet
        background colors--violet
      .colors--wheat
        background colors--wheat
      .colors--white
        background colors--white
      .colors--whitesmoke
        background colors--whitesmoke
      .colors--yellow
        background colors--yellow
      .colors--yellowgreen
        background colors--yellowgreen


append body
  mixin colors(suffix)
    p(class='colors--#{suffix}') colors--#{suffix}

  +colors('aliceblue')
  +colors('antiquewhite')
  +colors('aqua')
  +colors('aquamarine')
  +colors('azure')
  +colors('beige')
  +colors('bisque')
  +colors('black')
  +colors('blanchedalmond')
  +colors('blue')
  +colors('blueviolet')
  +colors('brown')
  +colors('burlywood')
  +colors('cadetblue')
  +colors('chartreuse')
  +colors('chocolate')
  +colors('coral')
  +colors('cornflowerblue')
  +colors('cornsilk')
  +colors('crimson')
  +colors('cyan')
  +colors('darkblue')
  +colors('darkcyan')
  +colors('darkgoldenrod')
  +colors('darkgray')
  +colors('darkgrey')
  +colors('darkgreen')
  +colors('darkkhaki')
  +colors('darkmagenta')
  +colors('darkolivegreen')
  +colors('darkorange')
  +colors('darkorchid')
  +colors('darkred')
  +colors('darksalmon')
  +colors('darkseagreen')
  +colors('darkslateblue')
  +colors('darkslategray')
  +colors('darkslategrey')
  +colors('darkturquoise')
  +colors('darkviolet')
  +colors('deeppink')
  +colors('deepskyblue')
  +colors('dimgray')
  +colors('dimgrey')
  +colors('dodgerblue')
  +colors('firebrick')
  +colors('floralwhite')
  +colors('forestgreen')
  +colors('fuchsia')
  +colors('gainsboro')
  +colors('ghostwhite')
  +colors('gold')
  +colors('goldenrod')
  +colors('gray')
  +colors('grey')
  +colors('green')
  +colors('greenyellow')
  +colors('honeydew')
  +colors('hotpink')
  +colors('indianred')
  +colors('indigo')
  +colors('ivory')
  +colors('khaki')
  +colors('lavender')
  +colors('lavenderblush')
  +colors('lawngreen')
  +colors('lemonchiffon')
  +colors('lightblue')
  +colors('lightcoral')
  +colors('lightcyan')
  +colors('lightgoldenrodyellow')
  +colors('lightgray')
  +colors('lightgrey')
  +colors('lightgreen')
  +colors('lightpink')
  +colors('lightsalmon')
  +colors('lightseagreen')
  +colors('lightskyblue')
  +colors('lightslategray')
  +colors('lightslategrey')
  +colors('lightsteelblue')
  +colors('lightyellow')
  +colors('lime')
  +colors('limegreen')
  +colors('linen')
  +colors('magenta')
  +colors('maroon')
  +colors('mediumaquamarine')
  +colors('mediumblue')
  +colors('mediumorchid')
  +colors('mediumpurple')
  +colors('mediumseagreen')
  +colors('mediumslateblue')
  +colors('mediumspringgreen')
  +colors('mediumturquoise')
  +colors('mediumvioletred')
  +colors('midnightblue')
  +colors('mintcream')
  +colors('mistyrose')
  +colors('moccasin')
  +colors('navajowhite')
  +colors('navy')
  +colors('oldlace')
  +colors('olive')
  +colors('olivedrab')
  +colors('orange')
  +colors('orangered')
  +colors('orchid')
  +colors('palegoldenrod')
  +colors('palegreen')
  +colors('paleturquoise')
  +colors('palevioletred')
  +colors('papayawhip')
  +colors('peachpuff')
  +colors('peru')
  +colors('pink')
  +colors('plum')
  +colors('powderblue')
  +colors('purple')
  +colors('red')
  +colors('rosybrown')
  +colors('royalblue')
  +colors('saddlebrown')
  +colors('salmon')
  +colors('sandybrown')
  +colors('seagreen')
  +colors('seashell')
  +colors('sienna')
  +colors('silver')
  +colors('skyblue')
  +colors('slateblue')
  +colors('slategray')
  +colors('slategrey')
  +colors('snow')
  +colors('springgreen')
  +colors('steelblue')
  +colors('tan')
  +colors('teal')
  +colors('thistle')
  +colors('tomato')
  +colors('turquoise')
  +colors('violet')
  +colors('wheat')
  +colors('white')
  +colors('whitesmoke')
  +colors('yellow')
  +colors('yellowgreen')