/**
 * Module dependencies
 */

@require '../index.styl'

/**
 * Apply `colors` test styles
 */

[class*=colors--]
  padding 10px

colors--test(c)
  .colors--{c}
    c = lookup('colors--' + c)
    background c
    if dark(c)
      color white

colors--test('aliceblue')
colors--test('antiquewhite')
colors--test('aqua')
colors--test('aquamarine')
colors--test('azure')
colors--test('beige')
colors--test('bisque')
colors--test('black')
colors--test('blanchedalmond')
colors--test('blue')
colors--test('blueviolet')
colors--test('brown')
colors--test('burlywood')
colors--test('cadetblue')
colors--test('chartreuse')
colors--test('chocolate')
colors--test('coral')
colors--test('cornflowerblue')
colors--test('cornsilk')
colors--test('crimson')
colors--test('cyan')
colors--test('darkblue')
colors--test('darkcyan')
colors--test('darkgoldenrod')
colors--test('darkgray')
colors--test('darkgrey')
colors--test('darkgreen')
colors--test('darkkhaki')
colors--test('darkmagenta')
colors--test('darkolivegreen')
colors--test('darkorange')
colors--test('darkorchid')
colors--test('darkred')
colors--test('darksalmon')
colors--test('darkseagreen')
colors--test('darkslateblue')
colors--test('darkslategray')
colors--test('darkslategrey')
colors--test('darkturquoise')
colors--test('darkviolet')
colors--test('deeppink')
colors--test('deepskyblue')
colors--test('dimgray')
colors--test('dimgrey')
colors--test('dodgerblue')
colors--test('firebrick')
colors--test('floralwhite')
colors--test('forestgreen')
colors--test('fuchsia')
colors--test('gainsboro')
colors--test('ghostwhite')
colors--test('gold')
colors--test('goldenrod')
colors--test('gray')
colors--test('grey')
colors--test('green')
colors--test('greenyellow')
colors--test('honeydew')
colors--test('hotpink')
colors--test('indianred')
colors--test('indigo')
colors--test('ivory')
colors--test('khaki')
colors--test('lavender')
colors--test('lavenderblush')
colors--test('lawngreen')
colors--test('lemonchiffon')
colors--test('lightblue')
colors--test('lightcoral')
colors--test('lightcyan')
colors--test('lightgoldenrodyellow')
colors--test('lightgray')
colors--test('lightgrey')
colors--test('lightgreen')
colors--test('lightpink')
colors--test('lightsalmon')
colors--test('lightseagreen')
colors--test('lightskyblue')
colors--test('lightslategray')
colors--test('lightslategrey')
colors--test('lightsteelblue')
colors--test('lightyellow')
colors--test('lime')
colors--test('limegreen')
colors--test('linen')
colors--test('magenta')
colors--test('maroon')
colors--test('mediumaquamarine')
colors--test('mediumblue')
colors--test('mediumorchid')
colors--test('mediumpurple')
colors--test('mediumseagreen')
colors--test('mediumslateblue')
colors--test('mediumspringgreen')
colors--test('mediumturquoise')
colors--test('mediumvioletred')
colors--test('midnightblue')
colors--test('mintcream')
colors--test('mistyrose')
colors--test('moccasin')
colors--test('navajowhite')
colors--test('navy')
colors--test('oldlace')
colors--test('olive')
colors--test('olivedrab')
colors--test('orange')
colors--test('orangered')
colors--test('orchid')
colors--test('palegoldenrod')
colors--test('palegreen')
colors--test('paleturquoise')
colors--test('palevioletred')
colors--test('papayawhip')
colors--test('peachpuff')
colors--test('peru')
colors--test('pink')
colors--test('plum')
colors--test('powderblue')
colors--test('purple')
colors--test('red')
colors--test('rosybrown')
colors--test('royalblue')
colors--test('saddlebrown')
colors--test('salmon')
colors--test('sandybrown')
colors--test('seagreen')
colors--test('seashell')
colors--test('sienna')
colors--test('silver')
colors--test('skyblue')
colors--test('slateblue')
colors--test('slategray')
colors--test('slategrey')
colors--test('snow')
colors--test('springgreen')
colors--test('steelblue')
colors--test('tan')
colors--test('teal')
colors--test('thistle')
colors--test('tomato')
colors--test('turquoise')
colors--test('violet')
colors--test('wheat')
colors--test('white')
colors--test('whitesmoke')
colors--test('yellow')
colors--test('yellowgreen')
